.assurances{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 270px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
   
}

.assurance{
    width: 30%;
    color: rgb(78, 78, 78);
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 12px;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 2px 4px 0 rgba(0,0,0,.08);
    

}

.assurance-header{
    font-size: 18px;
    font-weight: 800;
    text-align: center;
}
.assurance p{
    text-align: center;
    font-size: 14px;

}

@media only screen and (max-width: 700px) {
    .assurances{
        width: 97%;
        height: 180px;
    }

    .assurance p{
        font-size: 10px;
        padding: 5px;
    }

    .assurance-header{
        font-size: 14px;
    }
}

