.work-done{
    height: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    position: relative;
    overflow: hidden;
    background-attachment: fixed;
    background-image: url('../assets/mainPage//icon-back.svg');
    background-position: center;
    align-items: center;
    height: 400px;


}



.work-done .header-text{
    font-size: 22px;
    font-weight: 800;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    width: 100%;
    justify-content: center;
}



.work-list{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.item-wrapper{
    border-radius: 5px;
    border: 1px solid rgb(219, 219, 219);
    height: 70%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.item-wrapper .sub-header{
    text-align: center;
    color: #FFDC00;
    font-size: 15px;
    font-weight: 800;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.item-wrapper .item-text{
    font-size: 16px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(22, 22, 4);

}

@media only screen and (max-width: 700px) {
    .work-done{
        height: auto;
        
    }
    .work-list{
        flex-direction: column;
    }

    .work-done .header-text{
        font-size: 15px;
    }

    .item-wrapper{
        height: 90%;
        width: 85%;
        margin-bottom: 12px;
    }

    .item-wrapper .sub-header{
      
        text-align: center;
    }
}