.service{
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 40px;
    margin-top: 40px;

}

.service .service-header{
    width: 100%;
    text-align: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 800;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.service-item-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.service-item{
    height: 17vw;
    width: 17vw;
    border: 1px solid gray;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    color: black;
    background-position: center;
    background-attachment: fixed;
    
}

.item-one{
  
    background-image: url('../assets/mainPage/one.svg');
}

.item-two{

    background-image: url('../assets/mainPage/two.svg');
    
}

.item-three{
 
    background-image: url('../assets/mainPage/three.svg');
}

.item-four{
    background-image: url('../assets/mainPage/four.svg');
 
}
.item-five{
    background-image: url('../assets/mainPage/five.svg');
}



.service-item .icon-font{
    font-size: 30px;
    color: #228B22;
}

.font-underline{
    border-bottom: 2px solid gray;
    width: 50px;
    margin-top: 5px;
    margin-bottom: 12px;
}

.service-item .service-text{
    font-size: 11px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
}


@media only screen and (max-width: 700px) {
    .service-item{
       width: 25vw;
       height: 25vw;
    }

    .service{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .service .service-header{
        
    }

    .service-item .icon-font{
       font-size: 17px;
    }

    .font-underline{
        width: 30px;
       
    }

    .service-item .service-text{
        font-size: 8.5px;
        text-align: center;
    
    }
}
